<!-- 

    File name: home.ejs
    Created By: Samridhi Bindal
    Student ID: 301172178
    Created on: 13 February, 2021

-->


<!-- Home Section -->

<% if (title == "Home"){ %>
    <section class="home_banner_area" style="position: relative;
	z-index: 1;
	background-image: -moz-linear-gradient( 0deg, rgb(118,109,255) 0%, rgb(136,243,255) 100%);
	background-image: -webkit-linear-gradient( 0deg, rgb(118,109,255) 0%, rgb(136,243,255) 100%);
	background-image: -ms-linear-gradient( 0deg, rgb(118,109,255) 0%, rgb(136,243,255) 100%);
	margin-bottom: 200px;">
  <h4>
    <% if (contact.firstName !=null && contact.firstName !='' ){ %>
      <p>
              <div class="alert alert-dismissible alert-success">
                  <button type="button" class="close"
                      data-dismiss="alert">&times;</button>
                  <strong>Thanks! <%= contact.firstName %> <%= contact.lastName %> for connecting</strong>
                  <p> </p>
                  Message: "<%= contact.message %>" is sent as Feedback with Email ID: "<%=contact.email %>" and Contact Number: <%= contact.number %> .
              </div>
      </p>
      <% } %>
  </h4>
        <div class="container box_1620" style="min-height: 700px;
		border-radius: 12px;
		position: relative;
		bottom: -200px;
		background: #fff;
		padding: 30px;
		box-shadow: 0px 20px 80px 0px rgba(153, 153, 153, 0.3); box-sizing: border-box;" >
    
           
               <div class="p-3 border bg-light">
                <div class="container-md text-center" >
                  <img src="/Assets/Images/samridhi.jpeg " style=" height: 50%; width: 50%;" alt="...">
                </div>
               </div>
               <div class="jumbotron">
                <h1 class="display-4">Hi! I am Samridhi Bindal</h1>
                <h4 class="lead font-weight-bold">
                  Born on 6th Dec, she has been crazy at exploring new things and adamant at achieving her targets.
                </h4>
                <h5>Papa always said,"My daughter is a multi-talented girl". So here she moves on journey of acquiring a long list of skills and always looks ahead for something new and exciting. Painting has been her passion. 
                  Being grown up by a 'Boss Lady' , she has inherited that in her attitude. Travelling soothens her soul and dancing rocks it.</h5>
                <hr class="my-4">
                <p>To know me more, Click on the button below!</p>
                <a class="btn btn-primary btn-lg" href="/about" role="button">Know me!</a>
              </div>
              
            </div>
        </div>
    </section>



<% } %>